.idea/
*.iml
*.iws
*.eml
out/
.DS_Store
.svn
log/*.log
tmp/**
images
!images/jobprotocol.png
node_modules/
slideshow/slides/*.md
!slideshow/slides/job.md
slideshow/course.html
.sass-cache
css/reveal.min.css
js/reveal.min.js
